In [1]:
import pandas as pd

data = pd.read_csv('children anemia.csv')

data = data.dropna()
data

,Age in 5-year groups,Type of place of residence,Highest educational level,Wealth index combined,Births in last five years,Age of respondent at 1st birth,Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal),Anemia level,Have mosquito bed net for sleeping (from household questionnaire),Smokes cigarettes,Current marital status,Currently residing with husband/partner,When child put to breast,Had fever in last two weeks,Hemoglobin level adjusted for altitude (g/dl - 1 decimal),Anemia level.1,"Taking iron pills, sprinkles or syrup"
3,25-29,Urban,Secondary,Richest,1,25,95.0,Moderate,Yes,No,Married,Living with her,105.0,No,114.0,Not anemic,No
6,35-39,Urban,Secondary,Richest,2,32,121.0,Not anemic,Yes,No,Married,Living with her,Immediately,No,102.0,Mild,Yes
9,20-24,Urban,Secondary,Richest,1,19,108.0,Moderate,Yes,No,Married,Living with her,Immediately,No,113.0,Not anemic,Yes
12,25-29,Urban,Higher,Richest,1,24,116.0,Mild,Yes,No,Married,Living with her,Days: 1,No,109.0,Mild,No
13,20-24,Urban,Higher,Richest,2,19,118.0,Mild,Yes,No,Married,Living with her,Immediately,No,96.0,Moderate,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33914,25-29,Rural,Secondary,Richer,3,21,96.0,Moderate,Yes,No,Married,Staying elsewhere,Immediately,Yes,116.0,Not anemic,Yes
33917,25-29,Rural,Higher,Richest,1,28,110.0,Mild,Yes,No,Married,Living with her,Immediately,No,101.0,Mild,Yes
33918,35-39,Rural,Secondary,Richer,2,19,120.0,Not anemic,Yes,No,Married,Living with her,Immediately,No,108.0,Mild,Yes
33921,25-29,Rural,Higher,Richer,1,22,149.0,Not anemic,Yes,No,Married,Living with her,Hours: 1,No,119.0,Not anemic,No
33922,20-24,Rural,Secondary,Richer,1,21,123.0,Not anemic,Yes,No,Married,Living with her,Immediately,No,75.0,Moderate,Yes

In [2]:
import pandas as pd

data = pd.read_csv('children anemia.csv')

data['Births in last five years'].fillna(data['Births in last five years'].mean(), inplace=True)
data

,Age in 5-year groups,Type of place of residence,Highest educational level,Wealth index combined,Births in last five years,Age of respondent at 1st birth,Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal),Anemia level,Have mosquito bed net for sleeping (from household questionnaire),Smokes cigarettes,Current marital status,Currently residing with husband/partner,When child put to breast,Had fever in last two weeks,Hemoglobin level adjusted for altitude (g/dl - 1 decimal),Anemia level.1,"Taking iron pills, sprinkles or syrup"
0,40-44,Urban,Higher,Richest,1,22,NaN,NaN,Yes,No,Living with partner,Staying elsewhere,Immediately,No,NaN,NaN,Yes
1,35-39,Urban,Higher,Richest,1,28,NaN,NaN,Yes,No,Married,Living with her,Hours: 1,No,NaN,NaN,No
2,25-29,Urban,Higher,Richest,1,26,NaN,NaN,No,No,Married,Living with her,Immediately,No,NaN,NaN,No
3,25-29,Urban,Secondary,Richest,1,25,95.0,Moderate,Yes,No,Married,Living with her,105.0,No,114.0,Not anemic,No
4,20-24,Urban,Secondary,Richest,1,21,NaN,NaN,Yes,No,No longer living together/separated,NaN,Immediately,No,NaN,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33919,35-39,Rural,Secondary,Richer,2,19,120.0,Not anemic,Yes,No,Married,Living with her,NaN,No,120.0,Not anemic,Yes
33920,25-29,Rural,No education,Richer,1,27,120.0,Not anemic,Yes,No,Never in union,NaN,Hours: 1,No,120.0,Not anemic,No
33921,25-29,Rural,Higher,Richer,1,22,149.0,Not anemic,Yes,No,Married,Living with her,Hours: 1,No,119.0,Not anemic,No
33922,20-24,Rural,Secondary,Richer,1,21,123.0,Not anemic,Yes,No,Married,Living with her,Immediately,No,75.0,Moderate,Yes
33923,40-44,Rural,Secondary,Richest,1,35,NaN,NaN,No,No,Married,Living with her,Immediately,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd

data = pd.read_csv('children anemia.csv')

data = pd.get_dummies(data, columns=['Anemia level'])
data

,Age in 5-year groups,Type of place of residence,Highest educational level,Wealth index combined,Births in last five years,Age of respondent at 1st birth,Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal),Have mosquito bed net for sleeping (from household questionnaire),Smokes cigarettes,Current marital status,Currently residing with husband/partner,When child put to breast,Had fever in last two weeks,Hemoglobin level adjusted for altitude (g/dl - 1 decimal),Anemia level.1,"Taking iron pills, sprinkles or syrup",Anemia level_Mild,Anemia level_Moderate,Anemia level_Not anemic,Anemia level_Severe
0,40-44,Urban,Higher,Richest,1,22,NaN,Yes,No,Living with partner,Staying elsewhere,Immediately,No,NaN,NaN,Yes,0,0,0,0
1,35-39,Urban,Higher,Richest,1,28,NaN,Yes,No,Married,Living with her,Hours: 1,No,NaN,NaN,No,0,0,0,0
2,25-29,Urban,Higher,Richest,1,26,NaN,No,No,Married,Living with her,Immediately,No,NaN,NaN,No,0,0,0,0
3,25-29,Urban,Secondary,Richest,1,25,95.0,Yes,No,Married,Living with her,105.0,No,114.0,Not anemic,No,0,1,0,0
4,20-24,Urban,Secondary,Richest,1,21,NaN,Yes,No,No longer living together/separated,NaN,Immediately,No,NaN,NaN,No,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33919,35-39,Rural,Secondary,Richer,2,19,120.0,Yes,No,Married,Living with her,NaN,No,120.0,Not anemic,Yes,0,0,1,0
33920,25-29,Rural,No education,Richer,1,27,120.0,Yes,No,Never in union,NaN,Hours: 1,No,120.0,Not anemic,No,0,0,1,0
33921,25-29,Rural,Higher,Richer,1,22,149.0,Yes,No,Married,Living with her,Hours: 1,No,119.0,Not anemic,No,0,0,1,0
33922,20-24,Rural,Secondary,Richer,1,21,123.0,Yes,No,Married,Living with her,Immediately,No,75.0,Moderate,Yes,0,0,1,0
33923,40-44,Rural,Secondary,Richest,1,35,NaN,No,No,Married,Living with her,Immediately,NaN,NaN,NaN,NaN,0,0,0,0

In [4]:
import pandas as pd
data = pd.read_csv('children anemia.csv')
print(data.head())
print(data.head())
total_births = data['Births in last five years'].sum()
print(f"Total births: ${total_births}")

  Age in 5-year groups Type of place of residence Highest educational level  \
0                40-44                      Urban                    Higher
1                35-39                      Urban                    Higher
2                25-29                      Urban                    Higher
3                25-29                      Urban                 Secondary
4                20-24                      Urban                 Secondary

  Wealth index combined  Births in last five years  \
0               Richest                          1
1               Richest                          1
2               Richest                          1
3               Richest                          1
4               Richest                          1

   Age of respondent at 1st birth  \
0                              22
1                              28
2                              26
3                              25
4                              21

   Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                               95.0
4                                                NaN

  Anemia level  \
0          NaN
1          NaN
2          NaN
3     Moderate
4          NaN

  Have mosquito bed net for sleeping (from household questionnaire)  \
0                                                Yes
1                                                Yes
2                                                 No
3                                                Yes
4                                                Yes

  Smokes cigarettes               Current marital status  \
0                No                  Living with partner
1                No                              Married
2                No                              Married
3                No                              Married
4                No  No longer living together/separated

  Currently residing with husband/partner When child put to breast  \
0                       Staying elsewhere              Immediately
1                         Living with her                 Hours: 1
2                         Living with her              Immediately
3                         Living with her                    105.0
4                                     NaN              Immediately

  Had fever in last two weeks  \
0                          No
1                          No
2                          No
3                          No
4                          No

   Hemoglobin level adjusted for altitude (g/dl - 1 decimal) Anemia level.1  \
0                                                NaN                    NaN
1                                                NaN                    NaN
2                                                NaN                    NaN
3                                              114.0             Not anemic
4                                                NaN                    NaN

  Taking iron pills, sprinkles or syrup
0                                   Yes
1                                    No
2                                    No
3                                    No
4                                    No
  Age in 5-year groups Type of place of residence Highest educational level  \
0                40-44                      Urban                    Higher
1                35-39                      Urban                    Higher
2                25-29                      Urban                    Higher
3                25-29                      Urban                 Secondary
4                20-24                      Urban                 Secondary

  Wealth index combined  Births in last five years  \
0               Richest                          1
1               Richest                          1
2               Richest                          1
3               Richest                          1
4               Richest                          1

   Age of respondent at 1st birth  \
0                              22
1                              28
2                              26
3                              25
4                              21

   Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                               95.0
4                                                NaN

  Anemia level  \
0          NaN
1          NaN
2          NaN
3     Moderate
4          NaN

  Have mosquito bed net for sleeping (from household questionnaire)  \
0                                                Yes
1                                                Yes
2                                                 No
3                                                Yes
4                                                Yes

  Smokes cigarettes               Current marital status  \
0                No                  Living with partner
1                No                              Married
2                No                              Married
3                No                              Married
4                No  No longer living together/separated

  Currently residing with husband/partner When child put to breast  \
0                       Staying elsewhere              Immediately
1                         Living with her                 Hours: 1
2                         Living with her              Immediately
3                         Living with her                    105.0
4                                     NaN              Immediately

  Had fever in last two weeks  \
0                          No
1                          No
2                          No
3                          No
4                          No

   Hemoglobin level adjusted for altitude (g/dl - 1 decimal) Anemia level.1  \
0                                                NaN                    NaN
1                                                NaN                    NaN
2                                                NaN                    NaN
3                                              114.0             Not anemic
4                                                NaN                    NaN

  Taking iron pills, sprinkles or syrup
0                                   Yes
1                                    No
2                                    No
3                                    No
4                                    No
Total births: $61870